@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #bbc4d9;
}

.test {
  margin: 0 auto;
}

.test h1 {
  text-align: center;
  margin-top: 2rem;
}

.test .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
  max-width: 900px;
  height: 700px;
  margin: 4rem auto;
}

.test .form .color-block {
  background-color: #3a54aa;
  border-radius: 20px 0 0 20px;
}

.test .form .color-block .instruction p {
  padding: 2rem 2rem 0 2rem;
  color: #bbc4d9;
}

.test .form .color-block .instruction .github-link {
  padding: 2rem 2rem 0 2rem;
}

.test .form .color-block .instruction .github-link a {
  padding: 0.6rem;
  background-color: #e7ecf4;
  text-decoration: none;
  color: #3a54aa;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.test .form .color-block .instruction .github-link a:hover {
  background-color: #192e70;
  color: #bbc4d9;
}

.test .form .container {
  background-color: #e7ecf4;
  padding: 3rem;
  border-radius: 0 20px 20px 0;
}

.test .form .container .link {
  max-width: 130px;
  margin: 1rem auto;
}

.test .form .container .link a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #3a54aa;
  border: 1.5px solid #3a54aa;
}

.test .form .container .logo img {
  display: block;
  width: 80px;
  margin: 3rem auto;
}

.test .form .container .greetings {
  margin-bottom: 1.5rem;
}

.test .form .container .greetings h2 {
  text-align: center;
}

.test .form .container .greetings .lorem {
  margin: 0 auto;
}

.test .form .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.test .form .container form .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.test .form .container form .input label {
  cursor: pointer;
  margin-right: 1.5rem;
}

.test .form .container form .input input {
  margin: 1rem 0;
  width: 100%;
  padding: 0.5rem;
  padding-right: 2.3rem;
  border-radius: 15px;
  border: 1.5px solid #3a54aa;
  max-width: 250px;
  background: none;
}

.test .form .container form .input i {
  position: absolute;
  right: 15px;
  color: #3a54aa;
}

.test .form .container form #submit {
  background-color: #3a54aa;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 2rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */